<h3><%= "Hello, " + current_user.name if current_user %></h3>
<%= link_to "Register", new_user_registration_path %>
<%= link_to "Login", new_user_session_path %>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<%= link_to "Delete Account", user_registration_path, method: :delete %>