<%= form_with(model: image, local: true) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
    <%= form.file_field :image, accept: "images/jpg,images/jpeg,images/png,images/gif", class: "btn btn-info" %>
  </div>

  <div class="actions">
    <%= form.submit "Create", class: "btn btn-info" %>
    <%= link_to 'Back', images_path, class: "btn btn-info" %>
  </div>

<% end %>
